.sc-container
{
    height: 75vh;
    display: flex ;
    flex-flow: column ;
}
.sc-header
{
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 10px 25px;
}
.sc-header h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
}
.sc-body
{   margin: 10px 25px 10px 25px;
    border: outset;
    flex: 1;
    display: flex;
    flex-flow: column;
}
.sc-body ul
{
    margin: 5px 0px 0px 30px;
}
